<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-Applicant-Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
          <link rel="stylesheet" href="/css/main.css">
          <link rel="stylesheet" href="/css/tamplate_1.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
</head>
<body>
  <header>
      <div class="container-fluid p-0">
      <%- include('../layouts/navcom.ejs'); %>
      </div>
      <br><br><br>
      <h1 class="text-dark p-4" style="text-align: center;">My Job Vacancies</h1>
  </header>    
<br>
<% job.forEach((job) => { %>
    <section class="job-list id=jobs">
        <div class="job-card">
      <div class="row">
        <div class="col-md-9">
          <div class="row">
            <h3 style="padding-left: 8px;"><%= job.divisi%></h3>
          </div>
          <div class="row">
            <div class="d-flex flex-row bd-highlight mb-3">
              <div class="p-2 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight"><span class="material-icons">school</span></div>
                  <div class="p-2 bd-highlight"><%= job.last_edu %></div>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight"><span class="material-icons">paid</span></div>
                  <div class="p-2 bd-highlight">IDR <%= job.salary%></div>
                </div>
              </div>
              <div class="p-2 bd-highlight">
                <div class="d-flex flex-row bd-highlight mb-3">
                  <div class="p-2 bd-highlight"><span class="material-icons">pin_drop</span></div>
                  <div class="p-2 bd-highlight"><%= job.city%></div>
                </div>
              </div>
            </div>
            
          </div>
          <div class="row">
              <div class="col">
                  <div class="p-2 bd-highlight">posted at <%= job.date %></div>
              </div>
             
            </div>
        </div>
        
        <div class="align-items-center align-content-center col-md-3 border-left">
      <div class="d-flex flex-row mt-4">
          <div class="p-1 bd-highlight">
              <a href="/company/info/<%= job._id%>" class="btn btn-info" type="button" data-toggle="tooltip">Check</a>
          </div>
      </div>
</div>
      </div>
      </div>
    </section>
      <% }) %>
</body>
</html>