<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job-Applicant-Home</title>
    <link rel="stylesheet" href="/css/cv.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
          <link rel="stylesheet" href="/css/tamplate_1.css">          
</head>
<body>
  <header>
      <div class="container-fluid p-0">
      <%- include('../layouts/navcom.ejs'); %>
      </div>
  </header>
  <br><br><br>
  <h1 class="text-dark p-4" style="text-align: center;">My <%= id %></h1>
  <br>
  <div class="container-md p-3" style="padding-left: 10px;padding-right: 10px;">
  <div class="col border rounded">
    <% data.forEach((data) => { %>
    <div class="row">
      <div class="col-md-12">
        <div class="resume">
          <div class="resume_left">
            <div class="resume_content">
              <div class="resume_item resume_info">
                <div class="title">
                  <p class="bold"><%= data.first_name%> <%= data.last_name%></p>
                  <p><%= data.gender%></p>
                </div>
                <ul>
                  <li>
                    <div class="icon">
                      <i class="fas fa-mobile-alt"></i>
                    </div>
                    <div class="data">
                      <%= data.nomor%>
                    </div>
                  </li>
                  <li>
                    <div class="icon">
                      <i class="fas fa-envelope"></i>
                    </div>
                    <div class="data">
                      <%= data.email%>
                    </div>
                  </li>
  
                </ul>
              </div>
              <div class="resume_item resume_skills">
               <div class="title">
                 <p class="bold">Alamat</p>
               </div>
               <ul>
                 <li>
                   
                    <%= data.address%> <%= data.provinsi%>

                 </li>
                 
               </ul>
             </div>
              <div class="resume_item resume_social">
                <div class="title">
                  <p class="bold">Graduation</p>
                </div>
                <ul>
                  <li>
                    <div class="data">
                      <p class="semi-bold"><%= data.pendidikan%></p>
                      <p><%= data.pendidikan_text%> <%= data.jurusan%></p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
         </div>
         <div class="resume_right">
           <div class="resume_item resume_about">
               <div class="title">
                 <p class="bold">About me</p>
               </div>
              <p><%= data.ket%></p>
          </div>
          <div class="resume_item resume_work">
              <div class="title">
                 <p class="bold">Work Experience</p>
               </div>
              <ul>
                   <li>
                       <div class="info">
                         <p><%= data.skill%></p>
                       </div>
                   </li>
              </ul>
          </div>
         </div>
          
         </div>
       </div>
      </div>
      <% }) %>
      <div class="row">
        <div class="col-md-12" style="justify-content: end;">
          <div class="card p-4">
            <div class="card-body">
              <form method="post" action="/company/update">
                <div class="form-group col-md-6">
                  <label for="inputEmail4">Id</label>
                  <input type="text" readonly name="id" class="form-control" value="<%= id %>" id="password">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputCity">Status : <td><%= status %></td></label>
                    <select id="inputState" name="status" class="form-control">
                      <% if(status=="Waiting List"){%>
                        <option disabled value="Waiting list">Waiting list</option>
                        <% } else{ %>
                      <option value="Waiting list">Waiting list</option>
                      <% } %>
                      <% if(status=="Interview Section"){%>
                        <option disabled value="Interview Section">Interview Section</option>
                        <% } else{ %>
                          <option value="Interview Section">Interview Section</option>
                      <% } %>
                      <% if(status=="Rejected"){%>
                        <option value="Rejected">Rejected</option>
                        <% } else{ %>
                          <option value="Rejected">Rejected</option>
                      <% } %>
                      <option value="Accepted">Accepted</option>
                
                    </select>
                  </div>
             
                  <div class="form-group col-md-12">
                    <label for="exampleFormControlTextarea1">Keterangan</label>
                    <textarea class="form-control" value="<%= deskripsi %>" name="ket" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary">Update Status</button>
              </form>
                
            </div>
               
            </div>
          </div>
      </div>

  </div>
    
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      
        
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
</html>


